.hidden {
    color: transparent;
}

body {
    background-color: blueviolet;
    color: white;
    font-family: 'SF Pixelate' , sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text);
    background-color: var(--background);   
    margin: 0;
}

#wordContainer {
    margin-top: 20px;
}

.letter {
    margin: 0 7px;
    position: relative;
    text-align: center;
}

.letter::after{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
    min-width: 12px;
}

#startButton {
    margin-top: 20px;
    appearance: none;
    font-family: 'SF Pixelate', sans-serif;
    border: none;
    width: 300px;
    padding: 10px;
    background: #d95d39;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}


[data-theme="light"] {
    --primary: #2a83d6;
    --background: blueviolet;
    --text: white;
}

[data-theme="dark"] {
    --primary: #e9833e;
    --background: #000;
    --text: #fff;
}
h4 {
    color: #fff;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    padding: 10px 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 35px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--primary);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: var(--background);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}